.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #031448;
}